[build]
  command = "npm install"
    publish = "public"

    [[redirects]]
      from = "/*"
        to = "/.netlify/functions/server/:splat"
          status = 200
            force = true

            [functions]
              directory = "functions"
                node_bundler = "esbuild"
